version: "3.8"
services:
  backend:
    build: .
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://user:password@db:5432/dbname
    networks:
      - private_net
      - public_net

  db:
    image: postgres:18
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    networks:
      - private_net
networks:
  private_net:
    internal: true # Completely isolates this network from the outside world
  public_net:
    driver: bridge
